# Configuration file

general {
    # The maximum of banner's height. Will not work if Enable Banner Limit is set false.
    I:bannerMaxHeight=256

    # The maximum of banner's width. Will not work if Enable Banner Limit is set false.
    I:bannerMaxWidth=1280

    # Custom mod info entries. 
    # Format: modid:field1=value,field2=value2 
    # Available fields: name, description, url, issueTrackerUrl, logoFile, iconFile, iconItem, backgroundFile, license, credits
    S:customModInfo <
     >

    # Whether enable Catalogue. 
    # Setting it false will stop Catalogue redirecting Forge's mod list calls.
    B:enable=true

    # Whether limit the size of mods' banners.
    B:enableBannerLimit=false

    # Whether limit the size of mods' icons.
    B:enableIconLimit=false

    # The maximum of icon's width and height. Will not work if Enable Icon Limit is set false.
    I:iconMaxWidthHeight=256

    # The list of ignored dependencies' mod ids. 
    # They will not be displayed when searching for dependencies/dependants.
    S:ignoredDependenciesList <
        minecraft
        Forge
        FML
        mcp
     >

    # The list of library mods' mod ids. 
    # They will have grey names in the mod list.
    S:libraryList <
        Forge
        FML
        mcp
        gtnhlib
        hodgepodge
        unimixins
        lwjgl3ify
     >
}


