# Configuration file

general {
    # Block highlighting duration in seconds [range: 1 ~ 2147483647, default: 8]
    S:BlockHighlightingDuration=8

    # Rotate the player's view to face found items/blocks after searching [default: false]
    S:EnableRotateView=false

    # Item highlighting color as an ARGB hexadecimal color code.
    # Do not prefix with "0x" [default: FFFF8726]
    S:ItemHighlightingColor=FFFF8726

    # Item highlighting duration in seconds [range: 1 ~ 2147483647, default: 10]
    S:ItemHighlightingDuration=10

    # If true, the item stack size is ignored. If false, items are only highlighted if their stack size is greater than zero.
    # This is useful when working with barrels or storage drawers. [default: true]
    S:ItemHighlightingEmptyItemStacks=true

    # Maximum number of positions that can be displayed by item/block search [range: 0 ~ 2147483647, default: 20]
    S:MaxResponseSize=20

    # Search cooldown in ticks [range: 0 ~ 2147483647, default: 10]
    S:SearchCooldown=10

    # Search items and fluids in EnderIO conduits [default: false]
    S:SearchInEnderIOConduits=false

    # Search items and fluids in GT pipes [default: false]
    S:SearchInGregTechPipes=false

    # Search items dropped on the ground [default: true]
    S:SearchItemsOnGround=true

    # Radius to search within [range: 1 ~ 2147483647, default: 16]
    S:SearchRadius=16

    # Use particles for the block highlighter instead of outlining found blocks [default: false]
    S:UseParticleHighlighter=false
}


