# Configuration file

debugging {
    B:"Display block Ids when a player breaks a block"=false
    I:"Number of logs to check before defaulting to vanilla block break behavior (0-2048, default 256)"=256
}


"game mechanics" {
    # Format: <blockId>:<meta>, ex. 57, 159:4, 35:*
    S:"Additional block ids which should be treated as ores"=
    B:"Broken logs go directly into the player's inventory"=false
    B:"Easy harvest mode should apply to all blocks broken"=false
    B:"Smart harvest should also apply to ores"=false
}


