# Configuration file

"shader fixes" {
    # [Customizable Player Models] Experimental! Fixes models whose cubes don't have texture (Mode: Color) [default: true]
    B:CPM_EXP_FIX=true

    # [Electrical Age] Forces Electrical Age to not use display lists for rendering. Significantly reduces FPS, but improves rendering with Angelica shaders [default: true]
    B:ELN_DISABLE_DL=true

    # [HBM'S NTM] Fixes transparency of some NTM textures. I'm not an artist, so it might not look very good without using shaders [default: true]
    B:NTM_TEXTURE_FIX=true

    # [OpenComputers] Forces OС to not use display lists for rendering. Significantly reduces FPS, but improves rendering with Angelica shaders [default: true]
    B:OC_DISABLE_DL=true
}


