# Configuration file

angelica {
    # [EXPERIMENTAL] Enables shadow offset for tile entities, which helps reduce self-shadowing (shadow acne) on huge tile entities. As a side effect, it may break shadows on small tile entities with large ANGELICA_TE_SHADOW_OFFSET_FACTOR values [default: true]
    B:ANGELICA_TE_SHADOW_OFFSET=true

    # [EXPERIMENTAL] Enables the ANGELICA_TE_SHADOW_OFFSET_FACTOR calibration mode. 'I' key to increase, 'K' key to decrease [default: false]
    B:ANGELICA_TE_SHADOW_OFFSET_DEBUG_MODE=false

    # [EXPERIMENTAL] Shadow offset value. A higher value means less self-shadowing, but some TE elements may stop casting shadows at all [range: 0.0 ~ 256.0, default: 16.0]
    S:ANGELICA_TE_SHADOW_OFFSET_FACTOR=16.0
}


avaritia {
    # Main Avaritia patch. See README [default: true]
    B:AVARITIA_FIX=true
}


dynamicsurroundings {
    # Main DynamicSurroundings patch. See README [default: true]
    B:DSURROUND_FIX=true
}


electricalage {
    # Forces Electrical Age to not use display lists for rendering. Significantly (?) reduces FPS, but can improve rendering with Angelica shaders [default: true]
    B:ELN_DISABLE_DL=true
}


fiskssuperheroes {
    # Main FisksSuperheroes patch. See README [default: true]
    B:FISKHEROES_FIX=true
}


hbmsnucleartechmod {
    # Fixes rendering of akimbo weapons on mobs (+ mobs with NTM armor) + fixes rendering of akimbo weapons with CPM [default: true]
    B:NTM_ARMOR_FIX=true

    # Adds additional information to dangerous items (Ignites for / Explosion force / etc.) [default: true]
    B:NTM_EXTENDED_HAZARD_DESCRIPTIONS=true

    # Fixes new gun system (1.0.27_X5180+) rendering with shaders [default: true]
    B:NTM_GUN_FIX=true

    # Main NTM patch. See README [default: true]
    B:NTM_MAIN_FIX=true

    # Fixes transparency of some NTM textures [default: true]
    B:NTM_TEXTURE_FIX=false
}


journeymap {
    # Main JourneyMap patch. See README [default: true]
    B:JOURNEYMAP_FIX=true
}


minecraft {
    # Fixes an annoying bug due to which the effect bar in the creative menu turns black [default: true]
    B:VANILLA_GUI_BLEND_FIX=true

    # By default, minecraft locks frame rate at 30 in the main menu. In modern versions this value is 60, which is 2 times smoother than in 1.7.10. This option allows you to set any maximum FPS value in the main menu [default: true]
    B:VANILLA_MAIN_MENU_FPS_BYPASS=true

    # Maximum FPS in the main menu (see VANILLA_MAIN_MENU_FPS_BYPASS). 0 to use fps limit in settings [range: 0 ~ 8192, default: 144]
    I:VANILLA_MAIN_MENU_FPS_BYPASS_VALUE=144

    # Changes the position of the legs when riding, in accordance with modern versions (fixes legs passing through boat/minecart) [default: true]
    B:VANILLA_MODERN_RIDING_LEG_POS=true

    # Fixed incorrect rendering of many translucent things when rendering the entity's name tag [default: true]
    B:VANILLA_NORMALS_DISABLE_TAG=true

    # Uses GL_ONE instead of GL_SRC_ALPHA when rendering particles with Complementary shaders enabled. Fixes translucent particles becoming very dark [default: true]
    B:VANILLA_PARTICLE_ALPHA_WORKAROUND=true

    # Disables 1st person hand rotation when the player is riding/sitting (similar to modern versions). Requires VANILLA_RIDING_HAND_ROTATION_FIX to be false [default: false]
    B:VANILLA_RIDING_HAND_ROTATION_DISABLE=false

    # Fixes bug due to which the hand wouldn't update rotation when the player was riding/sitting [default: true]
    B:VANILLA_RIDING_HAND_ROTATION_FIX=true

    # Fixes experience bar black background if there is an item in the hotbar [default: true]
    B:VANILLA_XP_BAR_ALPHA_FIX=true
}


opencomputers {
    # Forces OpenComputers to not use display lists for rendering. Significantly (?) reduces FPS, but can improve rendering with Angelica shaders [default: true]
    B:OC_DISABLE_DL=true
}


schematica {
    # Main Schematica patch. See README [default: true]
    B:SCHEMATICA_FIX=true
}


signpicture {
    # Main SignPicture patch. See README [default: true]
    B:SIGNPIC_FIX=true
}


techguns {
    # Main Techguns patch. See README [default: true]
    B:TECHGUNS_FIX=true

    # Fixes transparency of some Techguns textures [default: true]
    B:TECHGUNS_TEXTURE_FIX=true
}


